body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.product-add-button{
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  border:none;
  outline: none;
  background-color: green;
  color: white;
  
  width: 100%;
  height: 40px;
  display: block;
  margin: 15px auto;
}
.product-add-button:hover{
  background-color: rgb(42, 165, 87);
}
.remove-fromcart{
  border-radius: 5px;
  border: none;
  outline: none;
  background-color:red;
  color: black;
  width: 25%;
  height:40px;
  display: inline;
  cursor:pointer;
 margin-left: 85px;
   
  font-size: 18px;
  font-weight: 700;
padding: auto;
}
.add-to-cart{
  border-radius: 5px;
  border: none;
  outline: none;
  background-color:green;
  color: black;
  width: 25%;
  height:40px;
  display: inline;
  cursor:pointer;
  
  margin-right: 20px auto; 
  font-size: 18px;
  font-weight: 700;
  padding: auto;
}
.badge-new span{
  
}

  .card-cart {
    margin-left: 100px;
    background-color: white;
    border-radius: 5px;
    color: black;
  
    /* Add border and box shadow styles */
    border: 1px solid #2f3a35; /* Choose the color you prefer for the border */
    box-shadow: 0 4px 8px rgba(143, 4, 4, 0.1); /* Adjust the box shadow as needed */
  }
  .card-body{
    margin-right:50px;
    

  }

